@charset "UTF-8";

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

@font-face {
  font-family: Coming Soon;
  src:url("../fonts/coming-soon.eot");
  src:url("../fonts/coming-soon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/coming-soon.woff") format("woff"),
    url("../fonts/coming-soon.ttf") format("truetype"),
    url("../fonts/coming-soon.svg#coming-soon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: Coming Soon !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: Coming Soon !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vimeo:before {
  content: "c";
}
.icon-twitter:before {
  content: "d";
}
.icon-youtube:before {
  content: "e";
}
.icon-instagram:before {
  content: "f";
}
.icon-facebook:before {
  content: "g";
}
.icon-email-envelope:before {
  content: "h";
}
.icon-linkedin:before {
  content: "a";
}
.icon-pinterest:before {
  content: "b";
}

html,
button,
input,
select,
textarea {
    color: #989898;
}

h1, h2, h3, h4, h5, h6 {
    color: #000000;
    font-family: Oswald, Impact, sans-serif;
    font-weight: bold;
}

a {
    color: #000000;
    text-decoration: none;
}

html {
    font-size: 1em;
    line-height: 1.4;
    min-height: 100%;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    min-height: 100%;
    font: 16px/1.8 Open Sans, Arial, sans-serif;
    background-color: #fff;
}

.wrapper {
    width: 80%;
    margin: 0 10%;
}

button {
    border: none;
    background: #000;
    color: #fff;
    font-family: Oswald, Impact, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    height: 3.125em;
}

/* ==============
    MOBILE: Header
   ============== */
.header-container header {
    text-align: center;
    padding-top: 1em;
    margin-bottom: 1em;
    line-height: 1.2;
}

.header-container header h1 {
    font-weight: normal;
}

.header-container header h1 img {
    max-width: 100%;
    max-height: 180px;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    text-align: center;
}

.main main h1 {
    font-size: 2.625em;
    line-height: 1.2;
    text-transform: uppercase;
    margin-top: 0.333em;
    margin-bottom: 1.262em;
}

.main main p {
    font-size: 0.875em;
    width: 94%;
    margin-left: auto;
    margin-right: auto;
}


/* ==============
    MOBILE: Newsletter
   ============== */

.form-container {
    position: relative;
}

#newsletter {
    border: 1px solid #dbdbdb;
    margin: 1.313em auto 0;
    width: 94%;
    padding: 5px;
    background: white;
}

#newsletter p {
    margin: 0;
    padding: 0;
    position: relative;
}

#newsletter p:before {
    position: absolute;
    left: 21px;
    top: 15px;
    font-size: 19px;
    color: #d4d4d4;
}

#newsletter input {
    background: transparent;
    border: none;
    color: #989898;
    width: 100%;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0 10px 5px 60px;
    height: 3.64em;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #989898;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #989898;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #989898;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #989898;
}

#newsletter button {
    width: 100%;
}

#thank-you {
    position: absolute;
    width: 94%;
    padding: 0 5px 4px;
    margin: 0 3%;
    background: black;
    color: white;
    bottom: 9.5em;
    
    font-family: Oswald;
    font-size: 0.875em;
    line-height: 1.4;

    display: none;
}

#thank-you .triangle {
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    bottom: -6px;
    margin-left: -12px;

    border-left-width: 12px;
    border-left-style: solid;
    border-left-color: transparent !important;
    border-right-width: 12px;
    border-right-style: solid;
    border-right-color: transparent !important;

    border-top: 8px solid black;
}

/* ==============
    MOBILE: Social links
   ============== */
.social-links {
    list-style-type: none;
    padding: 0;
    line-height: 1;
    margin-bottom: 2.4em;
}

.social-links li {
    padding: 0;
    display: inline-block;
}

.social-links li a {
    width: 27px;
    height: 27px;
    background: #000;
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 0 3px;
    font-size: 18px;
    line-height: 31px;
    text-align: center;
}

/* ==============
    MOBILE: Footer
   ============== */
.footer-container footer {
    text-align: center;
    font-size: 0.813em;
    padding-top: 1.8em;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 768px) {
    .header-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    .main main h1 {
        font-size: 3.438em;
        line-height: 1.45;
        margin-top: 4.6em;
        margin-bottom: 0.491em;
    }

    .main main p {
        font-size: 1em;
        line-height: 1.9;
    }

    #newsletter {
        width: 600px;
        padding: 6px;
        position: relative;
    }

    #newsletter input {
        padding-bottom: 0;
        height: 3.125em;
    }

    #newsletter p:before {
        top: 15px;
    }

    #newsletter p:first-child {
        width: 81%;
        float: left;
    }

    #newsletter p:last-child {
        min-width: 19%;
        position: absolute;
        top: 6px;
        right: 6px;
        max-width: 50%;
    }

    #thank-you {
        width: 600px;
        left: 50%;
        margin: 0 0 0 -300px;
        height: 64px;
        bottom: auto;
        top: 5em;
        font-size: 1em;
    }

    #thank-you p {
        line-height: 64px;
        margin: 0;
    }

    #thank-you .triangle {
        top: -6px;
        margin-left: -12px;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 8px solid black;
        border-top: none;
    }

    .footer-container footer {
        font-size: 0.938em;
        margin-top: 197px;
    }

    .social-links {
        float: right;
        margin-bottom: initial;
    }

    .footer-container footer p {
        text-align: left;
        padding-left: 1%;
    }
}

@media only screen and (min-width: 1000px) {
    .main main p {
        width: 80%;
    }

    .footer-container footer {
        margin-bottom: 2em;
    }
}

@media only screen and (min-width: 1320px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1200px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}